dist: trusty
sudo: required

language: php

# Make sure these are running as we need them (mysql is temprary needed as we do first part of instal using local setup)
services:
  - mysql
  - docker

# Mysql isn't installed on trusty (only client is), so we need to specifically install it
addons:
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  global:
    - COMPOSE_FILE="doc/docker-compose/base-dev.yml:doc/docker-compose/selenium.yml"
    - RUN_INSTALL=1

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: BEHAT_OPTS="--profile=behat --suite=default --tags='~@broken'"
    - php: 7.0
      env: BEHAT_OPTS="--profile=rest --suite=fullJson --tags='~@broken'"
    - php: 7.0
      env: BEHAT_OPTS="--profile=rest --suite=fullXml --tags='~@broken'"

# test only master (+ Pull requests)
branches:
  only:
    - master

# Setup system for behat testing
before_script:
  # Change local git repo to be a full one as we will reuse current checkout for composer install below
  - git fetch --unshallow && git checkout -b tmp_ci_branch
  - export BRANCH_BUILD_DIR=$TRAVIS_BUILD_DIR
  - export TRAVIS_BUILD_DIR="$HOME/build/ezplatform"
  - cd "$HOME/build"

  # Checkout meta repo, change the branch and/or remote to use a different ezpublish branch/distro
  - git clone --depth 1 --single-branch --branch master https://github.com/ezsystems/ezplatform.git
  - cd ezplatform

  # Install everything needed for behat testing, using our local branch of this repo
  - ./bin/.travis/trusty/setup_from_external_repo.sh $BRANCH_BUILD_DIR "ezsystems/behatbundle:dev-tmp_ci_branch"

# execute behat as the script command
script:
  - cd "$HOME/build/ezplatform"; docker-compose exec --user www-data app sh -c "bin/behat $BEHAT_OPTS"

# disable mail notifications
notification:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
