<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        colors="true">
    <testsuites>
        <testsuite name="EzSystems\BehatBundle">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
