services:
    _defaults:
        autowire: true

    EzSystems\Behat\API\:
        resource: '../../../../src/lib/API/*'

    _instanceof:
        EzSystems\Behat\API\Context\LimitationParser\LimitationParserInterface:
            tags: ['ezsystems.behat.limitation_parser']

        EzSystems\Behat\API\ContentData\FieldTypeData\FieldTypeDataProviderInterface:
            tags: ['ezsystems.behat.fieldtype_data_provider']

    ezbehatbundle.api.facade.contentfacade:
        class: EzSystems\Behat\API\Facade\ContentFacade

    ezbehatbundle.api.facade.contenttypefacade:
        class: EzSystems\Behat\API\Facade\ContentTypeFacade

    ezbehatbundle.api.facade.rolefacade:
        class: EzSystems\Behat\API\Facade\RoleFacade

    ezbehatbundle.api.facade.userfacade:
        class: EzSystems\Behat\API\Facade\UserFacade

    ezbehatbundle.api.facade.languagefacade:
        class: EzSystems\Behat\API\Facade\LanguageFacade

    ezbehatbundle.controller.exception:
        class: EzSystems\BehatBundle\Controller\ExceptionController

    EzSystems\BehatBundle\Command\CreateLanguageCommand:
        tags:
            - { name: console.command }

    EzSystems\BehatBundle\Command\TestSiteaccessCommand:
        tags:
            - { name: console.command }
