.selenium-highlighted {
    border: 2px solid red !important;
}

.selenium-clicked {
    background-color: greenyellow !important;
}

.selenium-tooltip::before {
    content: attr(data-selenium-locator);
    background-color: #FFFFFF;
    border-color: black;
    color: black;
    font-size: 1rem;
    border-style: dotted;
}
