.ibexa-selenium-highlighted {
    border: 2px dashed var(--ibexa-selenium-color, red);
}

.ibexa-selenium-highlighted:hover {
    background-color: cyan;
}

.ibexa-selenium-read {
    border-style: solid;
}
